

<div class="cotn_principal">
    <div class="cont_centrar">

      <div class="cont_login">
    <div class="cont_info_log_sign_up">
          <div class="col_md_login">
    <div class="cont_ba_opcitiy">

            <h2>LOGIN</h2>
      <p>Sign in to my app</p>
      <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
      </div>
      </div>
    <div class="col_md_sign_up">
    <div class="cont_ba_opcitiy">
      <h2>SIGN UP</h2>


      <p>Sign up before signing in is you dont have any account
      </p>

      <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
    </div>
      </div>
           </div>


        <div class="cont_back_info">
           <div class="cont_img_back_grey">
           <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
           </div>

        </div>
    <div class="cont_forms" >
        <div class="cont_img_back_">
           <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
           </div>
     <div class="cont_form_login">
    <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
       <h2>LOGIN</h2>
       <div *ngIf="showMessage">
          <span class="message">{{message1}}</span>
       </div>
       <input type="text" [(ngModel)]="login_email" placeholder="Email" />
       <input type="password" [(ngModel)]="login_password" placeholder="Password" />
    <button class="btn_login" (click)="login()" onclick="cambiar_login()">LOGIN</button>
      </div>

       <div class="cont_form_sign_up">
    <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
         <h2>SIGN UP</h2>
         <div *ngIf="showMessage">
            <span class="message">{{message}}</span>
         </div>
    <input type="text" [(ngModel)]="firstname" placeholder="Firstname" />
    <input type="text" [(ngModel)]="lastname" placeholder="Lastname" />
    <input type="text" [(ngModel)]="username" placeholder="Username" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />
    <input type="text" [(ngModel)]="address" placeholder="Address" />
    <button class="btn_sign_up" onclick="cambiar_sign_up()" (click)="submit()">SIGN UP</button>

      </div>

        </div>

      </div>
     </div>
    </div>
